@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100%;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f9a8d4; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ec4899; 
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font{
  font-family: 'Patrick Hand', cursive;
}

#game-stage img {
    transition: opacity 0.5s ease-in-out;
}